<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Adi</th>
    <th scope="col">Yazari</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody *ngFor="let book of books">
  <tr>
    <th scope="row">{{book.id}}</th>
    <td>{{book.name}}</td>
    <td>{{book.authorName}}</td>
    <td>
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-danger"  (click)="onDelete(book.id)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
